:root {
  --color-primary: #346995;
  --color-primary-dark: #264d75;
  --color-secondary: #fbbe02;
  --color-secondary-dark: #daa00b;
  --color-tertiary: #ca4242;
  --color-tertiary-dark: #ac3531;
  --color-accent: var(--color-tertiary);
  --color-accent-dark: var(--color-tertiary-dark);
  --color-error: #ca4242;
  --color-text: #01203d;
  --color-bg: #ebe8e8;
  --color-surface: #ffffff;
}
